<a href="https://colab.research.google.com/github/ting1126/Introduction-to-Computers/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("test")

test

In [13]:
sum=0
test=int(input("請輸入一個正整數:"))
for n in range(1,test+1):
  sum=sum+n
print("1到",test,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [12]:
sum=0
test=int(input("請輸入一個正整數:"))
for m in range(1,test+1):
  sum = sum+n
  print("1到",str(m),"的整數和為",sum)

請輸入一個正整數:50
1到 1 的整數和為 50
1到 2 的整數和為 100
1到 3 的整數和為 150
1到 4 的整數和為 200
1到 5 的整數和為 250
1到 6 的整數和為 300
1到 7 的整數和為 350
1到 8 的整數和為 400
1到 9 的整數和為 450
1到 10 的整數和為 500
1到 11 的整數和為 550
1到 12 的整數和為 600
1到 13 的整數和為 650
1到 14 的整數和為 700
1到 15 的整數和為 750
1到 16 的整數和為 800
1到 17 的整數和為 850
1到 18 的整數和為 900
1到 19 的整數和為 950
1到 20 的整數和為 1000
1到 21 的整數和為 1050
1到 22 的整數和為 1100
1到 23 的整數和為 1150
1到 24 的整數和為 1200
1到 25 的整數和為 1250
1到 26 的整數和為 1300
1到 27 的整數和為 1350
1到 28 的整數和為 1400
1到 29 的整數和為 1450
1到 30 的整數和為 1500
1到 31 的整數和為 1550
1到 32 的整數和為 1600
1到 33 的整數和為 1650
1到 34 的整數和為 1700
1到 35 的整數和為 1750
1到 36 的整數和為 1800
1到 37 的整數和為 1850
1到 38 的整數和為 1900
1到 39 的整數和為 1950
1到 40 的整數和為 2000
1到 41 的整數和為 2050
1到 42 的整數和為 2100
1到 43 的整數和為 2150
1到 44 的整數和為 2200
1到 45 的整數和為 2250
1到 46 的整數和為 2300
1到 47 的整數和為 2350
1到 48 的整數和為 2400
1到 49 的整數和為 2450
1到 50 的整數和為 2500

In [17]:
for j in range(1,5):
   print(j)
for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
2
3
4
4 * 1 = 4
4 * 2 = 8

In [20]:
for i in range(1,5):
  if(i==4):
    break
  print(i,end=" ")

1 2 3

In [21]:
for i in range(1,5):
  if(i==3):
   break
  print(i,end=" ")

1 2

In [22]:
for i in range(1,5):
  if(i==4):
    continue
  print(i,end=" ")

1 2 3

In [26]:
count=0
for string in 'hello!':
  count+=1
  if string=='o':
    break
  print(string)
print("迴圈結束")
print("迴圈執行了%d次"%count)

h
e
l
l
迴圈結束
迴圈執行了5次

In [29]:
count=0
for string in '測試看看!':
  count+=1
  if string=='看':
    break
  print(string)
print("迴圈結束")
print("迴圈執行了%d次"%count)

測
試
迴圈結束
迴圈執行了3次